<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 | Tendies Tracker</title>
  <link rel='stylesheet' href='/stylesheets/error-style.css' />
</head>
<body>
  <main>
    <h1>
      4
      <img src="../images/logo.png" alt="error">  
      4
    </h1>
    <p>Whoops! You won't find any tendies here.</p>
    <a href="/">Back to Home 🚀</a>
    
  </main>
</body>
</html>