<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Tendies Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index-style.css' />
  <link rel="icon" href="/images/favicon.ico" />
  <script src="/javascripts/script.js" defer></script>
</head>
<body>
  <header>
    <a href="/" class="logo">
      <img src="./images/logo.png" alt="tendie tracker">
      <span>Tendies Tracker</span>
    </a>

    <button type="button" class="btn btn-icon menu-open">
      <span class="material-icons-outlined">menu</span>
    </button>

    <div class="header-links close">
      <button type="button" class="btn btn-icon menu-close">
        <span class="material-icons-outlined">close</span>
      </button>
      <a href="<%= user.url %>" type="button" class="btn btn-primary btn-user">
        <span>🚀</span>
        <%= user.handle %>
      </a>
      <a href="/logout" type="button" class="btn btn-secondary">Log out</a>
    </div>
  </header>

  <main>
    <h1>Feeling bullish? 📈</h1>

    <% if (false) { %> 
    <div class="dashboard">
      <section class="card portfolio">
        <div class="card-header">
          <h2 class="card-title">Portfolio Name</h2>
          <span class="portfolio-total">$28307.78</span>
        </div>

        <h3 class="card-subtitle">Day's gain</h3>
        <span class="change">-676.31</span>
        <span class="change percent-neg">-2.38%</span>

        <h3 class="card-subtitle">Total gain</h3>
        <span class="change">6443.75</span>
        <span class="change percent-pos">+18.55%</span>

        <a href="" class="btn btn-more">
          View Portfolio
          <span class="material-icons-outlined">navigate_next</span>
        </a>
      </section>

      <section class="card holdings">
        <div class="card-header">
          <h2 class="card-title">Top Holdings</h2>
        </div>
      
        <div class="card-row">
          <h3 class="ticker">ARKG</h3>
          <span class="price">42.75</span>
          <p class="company">ARK Genomic Revolution ETF</p>
          <span class="change percent-pos">+1.55%</span>
        </div>

        <div class="card-row">
          <h3 class="ticker">BABA</h3>
          <span class="price">101.53</span>
          <p class="company">Alibaba Group Holding Limited</p>
          <span class="change percent-neg">-0.45%</span>
        </div>
      </section>

      <section class="card transactions">
        <div class="card-header">
          <h2 class="card-title">Recent Transactions</h2>
        </div>

        <div class="card-row">
          <h3 class="ticker">PINS</h3>
          <span class="shares">20 shares</span>
          <p class="company">Pinterest, Inc.</p>
          <span class="avg-price">$120.34</span>
        </div>
      </section>
    </div>
    <% } else { %> 
      <p>Let's get you started with a new portfolio:</p>

      <div class="button-group">
        <a href="/portfolio/create" type="button" class="btn btn-primary">+ Create portfolio</a>
      </div>
    <% } %> 
  </main>

  <footer>
    <div class="footer-top">
      <a href="/">
        <img src="./images/logo.png" alt="tendie tracker" class="footer-img">
      </a>
      <a href="https://github.com/gregolive" target="_blank" rel="noopener">
        <img src="./images/github.png" alt="github" class="footer-img">
      </a>
    </div>

    <div class="footer-main">
      <a href="" class="footer-link">Dummy Link 1</a>
      <a href="" class="footer-link">Dummy Link 2</a>
      <a href="" class="footer-link">Dummy Link 3</a>
      <a href="" class="footer-link">Dummy Link 4</a>
    </div>

    <div class="footer-bottom">
      <span>Market data provided by <a href="https://www.alphavantage.co/" target="_blank" rel="noopener">Alpha Vantage</a>.</span>
      <span>&copy; gregolive</span>
    </div>
  </footer>
</body>
</html>