<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Tendies Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/auth-style.css' />
  <link rel="icon" href="/images/favicon.ico" />
</head>
<body>
  <section class="welcome-page">
    <div class="welcome-box">
      <img src="./images/logo.png" alt="tendie tracker" class="welcome-logo">
      <div>
        <h1 class="welcome-title">Tendies Tracker</h1>
        <p class="welcome-msg">Portfolio tracking for 💎 handed investors</p>
      </div>
    </div>

    <div class="auth-box">
      <h2>Welcome back! 👋</h2>

      <form action="/sign-in" method="POST">
        <fieldset>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" />
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </fieldset>
        <button class="btn btn-primary">Log In</button>
      </form>

      <p>Need an account? <a href="/sign-up">Sign up</a></p>
    </div>
  </section>
</body>
</html>