.dashboard {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  gap: 2rem;
}

.card {
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  position: relative;
  display: grid;
  align-items: start;
  row-gap: 0.75rem;
}

.card-header {
  margin-bottom: 0.5rem;
  grid-column: 1 / -1;
}

.card-title {
  font-size: 1.6rem;
}

.card-subtitle {
  color: white;
}

.portfolio {
  background: var(--bg2);
  grid-template-columns: 2fr repeat(2, 1fr);
  row-gap: 0.5rem;
}

.portfolio > a {
  color: white;
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-radius: 0 1rem 0 0.25rem;
  padding: 0.4rem 0.6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio > a:hover {
  background: var(--bg1);
}

.portfolio-total {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.change, .price, .shares, .avg-price {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.1rem 0;
}

.percent-pos {
  background: var(--success);
  border-radius: 0.25rem;
}

.percent-neg {
  background: var(--secondary1);
  border-radius: 0.25rem;
}

.holdings {
  grid-column: 1 / 2;
  align-self: start;
}

.card-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  row-gap: 0.2rem;
}

.card-row:not(:last-child) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
}

.card-row.link {
  grid-template-columns: 3fr 1fr 3rem;
}

.card-row > .btn-icon {
  grid-column: 3 / -1;
  grid-row: 1 / 3;
  align-self: center;
}

.transactions {
  grid-area: 2 / 2 / 3 / 3;
  align-self: start;
}

.avg-price {
  color: var(--bg1);
  background: var(--primary1);
  border-radius: 0.25rem;
}

@media screen and (max-width: 1024px) {
  .dashboard {
    grid-template: repeat(3, auto) / 1fr;
    gap: 2rem;
  }

  .card {
    grid-column: 1 / -1;
  }

  .holdings {
    grid-row: 2 / 3;
  }

  .transactions {
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 480px) {
  .card {
    border: 1px solid white;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem 0 1rem;
  }

  .portfolio > a {
    background: white;
    color: var(--bg1);
    border: none;
    border-radius: 0 0 0.75rem 0.75rem;
    margin: 1rem 0 -1px -1rem;
    padding: 0.1rem 0;
    width: calc(100% + 2rem + 1px);
    grid-column: 1 / -1;
    position: static;
  }
  
  .portfolio {
    grid-template-columns: 1.3fr repeat(2, 1fr);
  }

  .card-subtitle {
    font-size: 1rem;
  }

  .change {
    font-size: 1rem;
    font-weight: 600;
  }
}