table {
  border-collapse: collapse;
}

thead, tbody {
  border: 1px solid var(--border);
}

th, td {
  font-size: 1.1rem;
  padding: 0.4rem;
}

th {
  background-color: var(--bg2);
  font-weight: 900;
  border-bottom: 1px solid var(--border);
}

td:not(.hidden-cell) {
  border-right: 1px solid var(--border);
}

tfoot > tr > td:not(.hidden-cell) {
  font-weight: 600;
  border: 1px solid var(--border);
}

.ticker-col {
  background-color: var(--gray);
  font-weight: 600;
}

.company-col {
  font-size: 1rem;
}

.hidden-cell {
  visibility: hidden;
}

.transactions {
  border: 1px solid var(--border);
}

.transaction-row {
  color: white;
  padding: 0.5rem 1.25rem;
  display: grid;
  grid-template-columns: 3fr 1fr auto;
  align-items: center;
  row-gap: 0.2rem;
}

.transaction-row:not(:last-child) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.75rem;
}

.transaction-row:hover {
  background: var(--bg2);
}

@media screen and (max-width: 1024px) {
  th, td {
    font-size: 1rem;
  }

  .large-screen {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  th {
    font-weight: 700;
  }

  th, td {
    font-size: 1rem;
    padding: 0.2rem;
  }
}

@media screen and (max-width: 500px) {
  .medium-screen {
    display: none;
  }
}